.heading {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/bg.jpg");
  min-height: 300px;
  padding: 25px;
}


.heading .headingcontent{
  display:flex;
  flex-wrap:  wrap;
  align-items:  center;
  min-height: 300px;
  padding-top: 180px;
}

.heading .headingcontent .block{
  flex:0 0 100%;
  max-width: 100%;
  padding-left: 35px;
  border-left: 5px solid #66fcf1
}


.heading .headingcontent .block h1{
  color:#ffffff;
  font-size:  60px;
  font-weight:600;
  margin: 0;
  padding: 0;
}
.heading .headingcontent .block h4{
  color:#ffffff;
  font-size:  30px;
  font-weight:400;
  margin: 0;
  padding: 0;
}

/**********Project Gallary**********/
.gallery{
  background-color: #FFFFFF;
  padding: 70px 20px;
}

.gallerycontent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 35px;
  align-items: stretch;
}

.item {
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow:4px 4px 7px #666;
  background-color: #111111;
}

.item:hover{
  cursor: pointer;
}

.item *{
  transition: all 0.35s ease-in-out;
}

.item img {
  width: 100%;
}

.item:hover img {
  opacity: 0.3;
}

.item h2 {
  font-size: 22px;
  font-weight: 600;
  color:#ffffff;
  padding-bottom: 5px;
}

.text{
  width: 80%;
  height: 90%;
  position: absolute;
  top: -100px;
  left: 10%;
  color: #3ed6ab;
}

.text h3{
  color: #fff;
}

.item:hover .text{
  top: 25%;
}

.item:hover .button{
  bottom: 35%;
}

.item .button{
  position: absolute;
  bottom: -100px;
  left: 25%;
  width: 50%;
  border: 3px solid #3ed6ab ;
  padding: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: white;
}
.vbutton{

  border: 3px solid #3ed6ab ;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;


}
.vp{
  color: #eeeeee;
}
.vbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.vbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.vbutton:hover span {
  padding-right: 25px;
}

.vbutton:hover span:after {
  opacity: 1;
  right: 0;
}
.vbutton:hover{
  background-color: #3ed6ab; ;
  color: #F5F5F5;
  color: black;
}

/* Modal */


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding:100px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 60%;
}

@media(max-width: 900px){
.modal-content {
  width: 80%;
}
}

.scale{
  animation: scale 0.5s;
  animation-fill-mode: forwards;
}

@keyframes scale{
  from{transform: scale(0);}
  to{transform: scale(1);}
}


#details{
  padding: 30px;
  text-align: left;
  height: 100%;
}

#details *{
  transition: all .3s;
}

#title{
  padding-bottom: 8px;
  font-size: 28px;
}

#info{
  padding: 10px;
  font-size: 15px;
  border-top: 1px solid #aaa;
}

#members{
  border-top: 1px solid #aaa;
  text-align: right;
  padding-top: 10px;
  font-size: 14px;
  color: #777;
}



/* Close Button */

.close {
  color: #3ed6ab;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  right: 16px;
}

.close:hover,
.close:focus {
  color: #00153d;
  text-decoration: none;
  cursor: pointer;
}


/********Team*******/

.board{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 70px 30px 10px;
}
.board .title h1::before{
left: 30%;
}

.board .member{
  width: 250px;
  margin: 5px;
  background: #ffffff;
  padding: 20px 10px;
}

.board .member .member_img{
  background: #e5e5e5;
  max-width: 150px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.board .member .member_img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.board .member h3{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  margin: px 0 0px;
  text-align: center;
}

.board .member h5{
  color: #00153d;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.board .member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.5s ease;
}

.board .member .member_img .social_media .item{
  margin: 0 10px;
}

.board .member .member_img .social_media .fa{
  color: #3ed6ab;
  font-size: 20px;
}

.board .member .member_img:hover .social_media{
  transform: scale(1);
}

.others{
background-color: #ffffff;
padding:70px 0px 70px;
}

.others .title h1::before{
left: 30%;
}

.others .teamcontent{
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.others .teamcontent .domains{
  background-color: #F5F7F9;
  padding: 30px;
  flex: 0 0 calc(25% - 40px);
  max-width: 0 0 calc(25% - 40px);
  margin-bottom: 30px;
  border-radius: 1px solid #eeeeee;
  position:relative;
  border-radius: 5px;
  margin:10px;
}


@media(max-width: 1035px){
.others .teamcontent .domains{
  flex: 0 0 calc(50% - 40px);
  max-width: 0 0 calc(50% - 40px);
}
}

@media(max-width: 550px){
.others .teamcontent .domains{
  flex: 0 0 calc(100% - 40px);
  max-width: 0 0 calc(100% - 40px);
}
}

.others .teamcontent .domains::before{
  content:'';
  position:absolute;
  height: 2px;
  background-color: #3ed6ab;
  bottom: 0px;
  width: 60px;
  left:0px;
  right:0px;
  margin: auto;
  transition: all .5s ease;
}

.others .teamcontent .domains:hover::before{
  width: 100%;
}

.others .teamcontent .domains .icon{
  height:60px;
  width: 60px;
  margin: 10px auto 10px;
  text-align: center;
}

.others .teamcontent .domains .icon .fa{
  font-size: 30px;
  color: #3ed6ab;
  line-height: 60px;
}

.others .teamcontent .domains h5{
  bottom padding: 10px;

  text-align: center;
  font-size: 22px;
  font-weight:600;
  color: #000000;
  margin:0;
}

.others .teamcontent  .domains ul {
  color: #000000;
  padding: 0 0 0 0 ;
  list-style: none; /* Remove default bullets */
}

.others .teamcontent  .domains ul li::before {
  content: "\2022";
  color: #3ed6ab;
  display: inline-block;
  width: 1em;
  font-size: 24px;
  font-weight: 400;
}





.thankyou {
 background-color: #F5F7F9;
 height: 100vh;
}

.thankyou .content{
  text-align: center;
  padding:30vh 2vw;
}
.thankyou h1{
  font-size: 8vw;
  color:  #00153d;
}
.thankyou span{
  color:  #3ed6ab;
  font-size: 8vw;
  font-weight: 600;
}
.thankyou p{
  color:  #000000;
  font-size: 16px;
  font-weight: 400;
}
.thankyou .back{
padding-top: 50px;
  }
.thankyou .back a{
  border-radius: 4px;
  color:#000000;
  border: 4px solid #3ed6ab;
  padding: 12px 55px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease;
  background-color: transparent;
  }

.thankyou .back a:hover{

  background-color: #3ed6ab;
  }
