
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


 *{
 margin: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
}


body {
   font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
  max-width: 1140px;
  margin: auto;
  /*border: 3px solid blue;*/
}

.row{
 display: flex;
 flex-wrap:wrap;
 /*border: 3px solid red;*/
}

header{
position: absolute;
left:0px;
right:0px;
border-bottom:1px solid #333;
padding: 0px 20px; 
}

header .row {
 justify-content: space-between;
 align-items: center;
}

header img {
height: 65px;
}


header .navbar ul {
 list-style: none;
 padding: 0;
 margin: 0;
}


header .navbar ul li {
 display: inline-block;
 margin-left: 35px;
}

header .navbar ul li a{
 text-decoration:none;
 font-size: 15px;
 line-height: 72px;
 color:#ffffff;
 display: block;  
 font-weight: 600;
 position:relative ;
}

header .navbar ul li a::before{
content:'';
height: 3px;
background-color: #66fcf1;
width: 0%;
position:absolute;
right:0px;
top:100%;
transition: all .5s ease;
}


header .navbar ul li a:hover::before{
width: 100%;
left:0px;
}

header .navbar ul li a.active::before{
width: 100%;
left:0px;
}


.home {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("../images/bg.jpg");
  min-height: 100vh;
  padding: 15px;
}

.home .fullscreen{
  min-height: 100vh;
}

.home .homecontent{
  flex:0 0 100%  
  max-width: 100%;
  display:flex;
  flex-wrap:  wrap; 
  align-items:  center; 
}

.home .homecontent .block{
  flex:0 0 100%;
  max-width: 100%;
  padding-left: 35px;
  border-left: 5px solid #66fcf1
}


.home .homecontent .block h6{
  color:#ffffff;
  font-size:  18px;
  font-weight:400;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.typewriter  h6{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #66fcf1; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 3.5s steps(30, end),
  blink-caret 1s step-end infinite
  }

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #66fcf1 }
}

.home .homecontent .block h1{
  color:#ffffff;
  font-size:  70px;
  font-weight:600;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.home .homecontent .block h4{
  color:#ffffff;
  font-size:  25px;
  font-weight:500;
  margin: 0;
  padding: 0;
}

.home .homecontent .block .button1 {
  padding-top: 20px;
}

.home .homecontent .block .button1 a{
  border-radius: 4px; 
  color:#ffffff;
  border: 1px solid #66fcf1;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease;
  background-color: transparent;
  }

  .home .homecontent .block .button1 a:hover{
  background-color: #66fcf1;
  color:#000000;
  }


.title{
flex:0 0 100%;
max-width: 100%;
margin-bottom: 30px;
}

.title h1{
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 0 0 10px;
  position: relative;
}

.title h1::before{
content:'';
left:0px;
position:absolute;
height: 4px;
background-color: #3ed6ab;
bottom: 0px;
right:30%;
}

.textcenter{
  text-align: center!important;
}

.about{
background-color: #F5F7F9;
padding:70px 0px 50px;
}

.about .title h1::before{
left: 30%;
}

.about  .aboutcontent {
padding:15px ;
}

.about  .aboutcontent .pic{
 flex:0 0 33.33%;
 max-width: 33.33%;
 align-self: center;

}

.about  .aboutcontent .pic img{
  display: flex;
justify-content: center;
  width: 100%;
  display:block;
}

.about  .aboutcontent .text {
  padding-left:5%;
 flex:0 0 66.66%;
 max-width: 66.66%;
 align-self: center;
}

.about  .aboutcontent .text h1{
display: flex;
color: #00153d;
font-size: 35px;
font-weight:500; 
}

.about  .aboutcontent .text p{
font-size: 16px;
line-height:1.8;
}


.vision{
background-color: #ffffff;
padding:55px 0px 55px;
}

.vision .title h1::before{
left: 30%;
}

.vision  .visioncontent{
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 80px 0;
}

.vision  .visioncontent img{
  padding: 5px;
  height: 60px;
}

.vision  .visioncontent .box1{
  text-align: left;
  margin-right: 50%;
  margin-left: 70px;
}

.vision  .visioncontent .box2{
   text-align: left;
   margin-left: 60%;
}

.vision  .visioncontent h2{
  text-transform: uppercase;
  font-size:80px;
  color: #00153d;
}

.vision  .visioncontent .right {
text-align: right;
}


.vision  .visioncontent p{
  padding-top: 10px;
  font-size: 16px;
  font-weight:400;
  color: #000000;
  position:relative;
}
.vision .visioncontent p::before{
content:'';
position:absolute;
height: 3px;
width: 50px;
background-color: #3ed6ab;
left: 0px;
top: 0px;
}



.quote {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/bg.jpg");
  min-height: 300px;
}

.quote .quotecontent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;

}

.quote .quotecontent p{
  margin-top: 6px;
  font-size: 28px;
  text-align: center;
  color: #ffffff;
  line-height: 1.2;
}

.quote .quotecontent span{
  color:#66fcf1;
  line-height: 2;
}

.work{
background-color: #F5F7F9;
padding:70px 0px 70px;
}

.work .title h1::before{
left: 30%;
}

.work .workcontent{
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px; 
}

.work .workcontent .box{
  background-color: #fff;
  padding: 30px;
  flex: 0 0 calc(33.33% - 20px);
  max-width: : 0 0 calc(33.33% - 20px);
  margin-bottom: 30px;
  border-radius: 1px solid #eeeeee;
  box-shadow:4px 4px 7px #666;
  text-align: center;
  position:relative;
  border-radius: 5px;
  margin:10px; 
}

.work .workcontent .box::before{
  content:'';
  position:absolute;
  height: 5px;
  background-color: #3ed6ab;
  bottom: 0px;
  width: 60px;
  left:0px;
  right:0px;
  margin: auto;
  transition: all .5s ease;
}

.work .workcontent .box:hover::before{
  width: 100%;
}

.work .workcontent .box .icon{
  height:60px;
  width: 60px;
  background-color: #00153d;
  margin: 15px auto 20px;
  border-radius: 50%;
  text-align: center;
}

.work .workcontent .box .icon:hover{
  background-color: #3ed6ab;
}

.work .workcontent .box .icon .fa{
  font-size: 25px;
  color: #ffffff;
  line-height: 60px;
}

.work .workcontent .box h5{
  font-size: 20px;
  font-weight:700;
  color: #000000;
  margin:0;
}

.work .workcontent .box p{
  font-size: 15px;
  font-weight:400;
  line-height: 24px;
  color: black;
  margin:10px 0 10px;
}



.vedanth {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/bg.jpg"); 
  min-height: 300px;
}


.vedanth .content{
  padding:15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}

.vedanth .v{
  font-size: 60px;
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke:2px #66fcf1;
}

.vedanth .text{
  flex: 0 0 80%;
  max-width: 80%;
  color:  #ffffff;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-right: 15px;
}

.vedanth .button2  {
  text-align: center;
  padding-right: 20px;
}

.vedanth .button2 a{
  border-radius: 4px; 
  color:#ffffff;
  border: 1px solid #66fcf1;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease;
  background-color: transparent;
  }

.vedanth .button2 a:hover{
  background-color: #66fcf1;
  color:#000000;
  }

.activities{
background-color: #ffffff;
padding:70px 0px 70px;
}

.activities .title h1::before{
left: 30%;
}

.activities .activitiescontent{
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activities .activitiescontent .box{
  background-color: #F5F7F9;
  padding: 30px;
  flex: 0 0 calc(80% - 20px);
  max-width: : 0 0 calc(70 - 20px);
  margin-bottom: 30px;
  border-radius: 1px solid #eeeeee;
  position:relative;
  border-radius: 5px;
  margin:8px; 
  box-shadow:7px 7px 10px #666;
  transition: transform .5s; /* Animation */
}
.activities .activitiescontent .box:hover{
transform: scale(1.05);
}

.activities .activitiescontent .box h5{
  font-size: 20px;
  font-weight:700;
  color: #000000;
  margin:0;
}
.activities .activitiescontent .box ul {
  font-size: 20px;
  font-weight:700;
  color: #000000;
  padding: 0 0 0 0 ;
  list-style: none; /* Remove default bullets */
}

.activities .activitiescontent .box ul li::before {
  content: "\2022";  
  color: #3ed6ab; 
  display: inline-block;
  width: 1em;
}
.activities .activitiescontent .box p{
  font-size: 15px;
  font-weight:400;
  line-height: 24px;
  color: black;
  margin: 0px 20px 10px;
}
.activities .activitiescontent .box a{
color: #00153d;
}

.activities .activitiescontent .box a:hover{
color: #3ed6ab;
}

.contact {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/bg.jpg"); 
  color: white;
  padding:50px 15px;
}

.contact h1{
 color: #ffffff;
 margin-top: 30px;
 font-size: 35px;
 text-transform: uppercase;
 font-weight: 600;
}

.contact p{
 color: #ffffff;
 margin-bottom: 30px;
 font-weight: 400;
}

.contact .left{
  flex: 0 0 60%;
  max-width: 60%;
  padding-right: 20px;
  border-right: 1px solid #66fcf1;
}

.contact .left .inputbox {
      width:100%;
      padding: 8px;
      margin-bottom: 16px;
      background:#191919; 
      border-color: #111;
      outline: none;
      color: #F5F7F9;
      transition: 0.5s ;   
      }
.contact .left .inputbox::placeholder {
  color: #999; 
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.contact .left .inputbox:focus{
      box-shadow: 0 0 8px 2px #66fcf1;
      }

.contact .left button{
  border-radius: 4px; 
  color:#ffffff;
  border: 1px solid #66fcf1;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  float: right;
  transition: 0.5s ; 
  }

.contact .left button:hover{

      box-shadow: 0 0 8px 2px #66fcf1;
  }

.contact .right{
  flex: 0 0 40%;
  max-width: 40%;
  padding-left: 25px; 
}

.contact_icon .fa{
  font-size: 20px;
  color: #66fcf1;
}
  


footer {
  padding-top:50px;
  background-color: black;
  color: #777;
  line-height: 1.5;
  text-align:center;
}

footer .logo {
  flex: 0 0 100%;
}
footer .social {
  flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 5px;
}

footer .social .sm_icons{
  height:30px;
  width: 30px;
  background-color: #191919;
  border-radius: 50%;
  text-align: center;
}

footer .social .sm_icons .fa{
 padding-top: 7px;
}

footer .social a {
  color: #ffffff;
  display: inline-block;
  transition: all .5s ease;
  margin: 8px;
}

footer .social a:hover {
 color: #66fcf1;
}
footer .social a:hover {
 color: #66fcf1;
}

.mahe{
  padding-right: 5px;
  padding-bottom: 3px;
  background-color: black;
  color: #777;
  display: flex;
  justify-content: flex-end;
}
.mahe img{
height: 45px;
align-self: center;
}
.mahe p{
font-size: 12px;
align-self: center;
}

.name{
 background-color: black;
 text-align:right;
 border-top: 1px solid #191919;
 padding: 10px
}

 .name p{
 color:  #777;  
 font-size: 12px;
}

 .name i{
 color:  #66fcf1; 
}


.to_top {
  background: #ffffff;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#00153d;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to_top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}
.to_top:hover{
  background-color: #3ed6ab;
  color:  #ffffff;
}
